{% extends 'base.html.twig' %}

{% block title %}tricks | Snowboard{% endblock %}

{% block body %}
<main class="homePage">
  <nav class="homePageNav">
  <h1>SNOWTRICKS</h1>
  <h3>Partagez votre passion du snowboard</h3>
  </nav>

  <div class="album py-5 bg-body-tertiary">
    <div class="container-fluid">
      <div class="row">
      {% for trick in tricks %}
          <div class="card col-6 m-2" style="width: 18rem;">
            <img src={{asset('assets/images/' ~ trick.image) }} class="card-img-top" alt="figure: {{trick.name}}">
            <div class="card-body">
              <a href="trick/{{trick.slug}}"><h5 class="card-title">{{trick.name}}</h5></a>
            </div>
          </div>
      {% endfor %}
</main>
{% endblock %}
