/*****************Header**************/

.headerSite img {
    width: 50px;
    height: 40px;
}


/******************registration*****************/

.register {
    margin-top: 80px;
    width: 90%;
    margin-bottom: 10px;
}

.register h1 {
    letter-spacing: 1px;
}


/****************login******************/

.login {
    margin-top: 100px;
    width: 90%;
    margin-bottom: 10px;
}

.login h1 {
    letter-spacing: 1px;
}

.resetPass {
    margin-top: 100px;
    width: 90%;
    margin-bottom: 10px;
}

.resetPass h1 {
    font-size: 18px;
}


/**************homePage**************/

.homePage {
    position: relative;
    bottom: 45px;
}

.homePageNav h1 {
    letter-spacing: 2px;
    margin-top: 25%;
}

.trickPage {
    width: 90%;
}


/****************profilUser***************/

.profilUsers {
    width: 95%;
}

.profilUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilUser img {
    width: 100px;
    height: 100px;
}

.linkProfil a {
    justify-content: space-around;
}

.linkProfil {
    display: flex;
    flex-direction: column;
}

.linkProfil .btnProfil {
    margin: auto 20px;
    padding: 5px;
    margin-bottom: 10px;
}


/*************Home: singlePage**********/

.singlePage {
    position: relative;
    top: 50px;
}

.singlePage h1 {
    width: 50%;
    margin-top: 35%;
}

.media {
    display: flex;
}

.media button {
    padding: 10px;
    background: linear-gradient(to right, #9b6d02, #fac273);
    border: 0px solid black;
    font-weight: bolder;
    color: white;
    margin: auto;
    width: 60%;
}

.imgSinglePage {
    margin: 10px;
    padding: 10px;
}

.mediaTricks {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.mediaTrick {
    width: 250;
    margin-bottom: 20px;
}

.content {
    width: 95%;
    margin: 20px auto;
}

.content p {
    padding: 10px;
}

.comment p {
    font-size: 14px;
}