<h1>Activez votre compte</h1>
<p>Bonjour {{ user.name}}</p>
<p>pour votre demande de rénitialisation de mot de passe, veuillez cliquer sur le lien suivant:</p>
<p><a href="{{ url|raw }}"> {{ url|raw }} </a></p>
<p>Merci</p>
