<h1>Activez votre compte</h1>
<p>Bonjour {{ user.name}}</p>
<p>votre inscription sur le site SnowTricks est à valider en cliquant sur le lien ci-dessous:</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">lien: {{ absolute_url(path('verify_user', {token: token})) }}</a></p>
<p>ce lien expirera dans 3heures</p>